# Backend Node.js
BACKEND_URL=http://localhost:4000
BRIDGE_SERVICE_TOKEN=ipark-bridge-token-2026-change-me-in-production

# Serial
SERIAL_PORT_IN=COM3
SERIAL_PORT_OUT=COM5

# Camera
CAMERA_INDEX_IN=0
CAMERA_INDEX_OUT=1

# Flask local UI
FLASK_PORT=5050